@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model Doom.ContentTypes.Blocks.DoomBlock

<style type="text/css">
    .dosbox-container {
        width: 320px;
        height: 200px;
    }
    .dosbox-container > .dosbox-overlay {
        background: url(https://js-dos.com/cdn/DOOM.png);
    }
</style>

@if(model.RipAndTear){
    <div id="dosbox"></div>
    <br />
    <button onclick="dosbox.requestFullScreen();">Make fullscreen</button>
}

<script
    type="text/javascript"
    src="https://js-dos.com/cdn/js-dos-api.js"
></script>
<script type="text/javascript">
    var dosbox = new Dosbox({
        id: "dosbox",
        onload: function(dosbox) {
            dosbox.run("https://cdn.rawgit.com/darrengruber/docker-em-dosbox-doom/afad47b2/doom_shareware/doom19s_deiced.zip", "./DOOM.EXE");
        },
        onrun: function(dosbox, app) {
            console.log("App '" + app + "' is runned");
        }
    });
</script>